<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <title>对象的理解</title>
    <script src="js/angular.js"></script>


</head>
<body>
<div >
    <input type="text" ng-model="queryParam.age"/>
    <button ng-click="query()">显示对象</button>


</div>
<script type="text/javascript">
    //输入的是一个年龄，对象里面就会存在一个年龄的属性
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
        $scope.queryParam={};
        $scope.query = function () {
            console.log($scope.queryParam);

        };

    });

</script>

</body>
</html>